In [1]:
import pandas as pd
import numpy as np

In [2]:
# read csv files
profiles_raw = pd.read_csv('./export/profiles.csv')
emails_raw = pd.read_csv('./export/emails.csv')

In [3]:
# summary info for the raw profiles df
profiles_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Company                              812 non-null    object
 1   Business Registration                703 non-null    object
 2   Year of Incorporation                756 non-null    float64
 3   Chief Executive                      773 non-null    object
 4   CEO Position                         748 non-null    object
 5   Business Enquiry                     757 non-null    object
 6   Business Contact Person Position     711 non-null    object
 7   Office Address                       812 non-null    object
 8   Postcode                             800 non-null    float64
 9   City/Town                            331 non-null    object
 10  State                                804 non-null    object
 11  Country                              811 non-null    object
 12  Telephone                            808 non-null    object
 13  Fax                                  711 non-null    object
 14  Website                              553 non-null    object
 15  Production Processes                 629 non-null    object
 16  Products Manufactured/Business Line  783 non-null    object
 17  Current Export Markets               485 non-null    object
dtypes: float64(2), object(16)
memory usage: 114.3+ KB

In [4]:
# summary info for the raw emails df
emails_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Email   774 non-null    object
dtypes: object(1)
memory usage: 6.5+ KB

In [5]:
# concatenate both dataframes horrizontally
profiles = pd.concat([profiles_raw, emails_raw], axis=1)

In [6]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Company                              812 non-null    object
 1   Business Registration                703 non-null    object
 2   Year of Incorporation                756 non-null    float64
 3   Chief Executive                      773 non-null    object
 4   CEO Position                         748 non-null    object
 5   Business Enquiry                     757 non-null    object
 6   Business Contact Person Position     711 non-null    object
 7   Office Address                       812 non-null    object
 8   Postcode                             800 non-null    float64
 9   City/Town                            331 non-null    object
 10  State                                804 non-null    object
 11  Country                              811 non-null    object
 12  Telephone                            808 non-null    object
 13  Fax                                  711 non-null    object
 14  Website                              553 non-null    object
 15  Production Processes                 629 non-null    object
 16  Products Manufactured/Business Line  783 non-null    object
 17  Current Export Markets               485 non-null    object
 18  Email                                774 non-null    object
dtypes: float64(2), object(17)
memory usage: 120.7+ KB

In [7]:
# extract combined dataframe column list
cols_list = profiles.columns.to_list()

In [8]:
len(cols_list)

19

In [9]:
cols_list

['Company',
 'Business Registration',
 'Year of Incorporation',
 'Chief Executive',
 'CEO Position',
 'Business Enquiry',
 'Business Contact Person Position',
 'Office Address',
 'Postcode',
 'City/Town',
 'State',
 'Country',
 'Telephone',
 'Fax',
 'Website',
 'Production Processes',
 'Products Manufactured/Business Line',
 'Current Export Markets',
 'Email']

In [10]:
# extracting the "Email" column from the list
email = cols_list.pop(-1)

In [11]:
# reordering the column list, inserting "Email" column at index 14
cols_list.insert(14, email)

In [12]:
# confirming column list number of columns is the same as before
len(cols_list)

19

In [13]:
# confirming column list is reordered correctly
cols_list

['Company',
 'Business Registration',
 'Year of Incorporation',
 'Chief Executive',
 'CEO Position',
 'Business Enquiry',
 'Business Contact Person Position',
 'Office Address',
 'Postcode',
 'City/Town',
 'State',
 'Country',
 'Telephone',
 'Fax',
 'Email',
 'Website',
 'Production Processes',
 'Products Manufactured/Business Line',
 'Current Export Markets']

In [14]:
# reordering column list in the main dataframe
profiles = profiles[cols_list]

In [15]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 812 entries, 0 to 811
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Company                              812 non-null    object
 1   Business Registration                703 non-null    object
 2   Year of Incorporation                756 non-null    float64
 3   Chief Executive                      773 non-null    object
 4   CEO Position                         748 non-null    object
 5   Business Enquiry                     757 non-null    object
 6   Business Contact Person Position     711 non-null    object
 7   Office Address                       812 non-null    object
 8   Postcode                             800 non-null    float64
 9   City/Town                            331 non-null    object
 10  State                                804 non-null    object
 11  Country                              811 non-null    object
 12  Telephone                            808 non-null    object
 13  Fax                                  711 non-null    object
 14  Email                                774 non-null    object
 15  Website                              553 non-null    object
 16  Production Processes                 629 non-null    object
 17  Products Manufactured/Business Line  783 non-null    object
 18  Current Export Markets               485 non-null    object
dtypes: float64(2), object(17)
memory usage: 120.7+ KB

In [16]:
# exporting the cleaned profiles df to csv and excel format
profiles.to_csv('./export/profiles-clean.csv', index=False)

profiles.to_excel('./export/profiles-clean.xlsx', sheet_name="Company Profiles", index=False)